<ul>
    <li><a href="@Url.Action("Index","Home")" class="text-light font-weight-bold">Home |</a></li>
    <li><a href="@Url.Action("Category/1/Crime","Home")" class="text-light font-weight-bold"> Technology |</a></li>
    <li><a href="@Url.Action("Category/2/Sports","Home")" class="text-light font-weight-bold"> Sports |</a></li>
    <li><a href="@Url.Action("Category/4/Politics","Home")" class="text-light font-weight-bold"> Politics |</a></li>
    <li><a href="@Url.Action("Category/5/Entertainment","Home")" class="text-light font-weight-bold"> Entertainment |</a></li>
    <li><a href="@Url.Action("Category/6/National","Home")" class="text-light font-weight-bold"> India |</a></li>
    <li><a href="@Url.Action("Category/7/Special","Home")" class="text-light font-weight-bold"> International |</a></li>
    <li><a href="@Url.Action("Category/8/LifeStyle","Home")" class="text-light font-weight-bold"> Life Style |</a></li>
</ul>
